<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Login</ion-button>

    <ion-text color="success" *ngIf="loginSuccess">
      <p class="ion-padding-top">Login berhasil!</p>
    </ion-text>

    <ion-text color="danger" *ngIf="loginError">
      <p class="ion-padding-top">Login gagal. Coba lagi.</p>
    </ion-text>
  </form>
</ion-content>