<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Breaking News
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/search']">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Breaking News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [routerLink]="['/news-detail', breakingNews.id]">
    <div class="card-image-container">
      <img [src]="breakingNews.mainImage" />
      <div class="card-overlay-content">
        <ion-chip color="primary">{{ breakingNews.categories[0] }}</ion-chip>
        <h2>{{ breakingNews.title }}</h2>
        <p>{{ breakingNews.author }} • {{ breakingNews.date }}</p>
        
        <p style="font-size: 0.9rem; margin-top: 4px;">
          <ion-icon name="eye-outline" style="vertical-align: middle;"></ion-icon> {{ breakingNews.views || 0 }}
          <ion-icon name="chatbubbles-outline" style="vertical-align: middle; margin-left: 12px;"></ion-icon> {{ breakingNews.comments.length }}
        </p>
      </div>
    </div>
  </ion-card>

  <ion-list-header>
    <ion-label>Categories</ion-label>
    <ion-button [routerLink]="['/news-list']">View all</ion-button>
  </ion-list-header>
  <div class="category-chips">
    <ion-chip *ngFor="let category of categories" [routerLink]="['/news-list', {category: category}]" outline="true">
      <ion-label>{{ category }}</ion-label>
    </ion-chip>
  </div>

  <ion-list-header>
    <ion-label>Recommendation</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let news of recommendations" [routerLink]="['/news-detail', news.id]" lines="none">
      <ion-thumbnail slot="start">
        <img [src]="news.mainImage">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ news.title }}</h3>
        <p>{{ news.author }} • {{ news.date }}</p>
        <p>
          <ion-icon name="star" color="warning"></ion-icon> {{ news.rating }}

          <span style="margin-left: 12px; display: inline-flex; align-items: center;">
            <ion-icon name="eye-outline" style="margin-right: 2px;"></ion-icon> {{ news.views || 0 }}
          </span>
          <span style="margin-left: 12px; display: inline-flex; align-items: center;">
            <ion-icon name="chatbubbles-outline" style="margin-right: 2px;"></ion-icon> {{ news.comments.length }}
          </span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>