<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let article of articles" [routerLink]="['/news-detail', article.id]">
      <img [src]="article.mainImage" />
      <ion-card-header>
        <ion-card-subtitle>{{ article.categories.join(', ') }}</ion-card-subtitle>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <p>{{ article.author }}</p>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-icon name="star" color="warning"></ion-icon> {{ article.rating }} ({{ article.ratingsCount }})
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>